@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
body{
	margin: 0 auto;
	width: 50%;
}
header > h1{
	font-family: 'Amatic SC', cursive;
	font-size: 20vh;
	margin:  0;
	padding: 0;
}
header > h3{
	font-family: 'Amatic SC', cursive;
	font-size: 10vh;
	margin:  0;
	padding: 0;
	margin-bottom: 2vh;
}
a{
	font-family: 'Caveat', cursive;
	font-size: 4vh;
	margin: 0;
	padding: 0;
}
a:hover{
	text-decoration: none;
	color: #198754;
}
a:visited{
	color: #198754;
}
a:active{
	color: #198754;
}
h5{
	font-family: 'Caveat', cursive;
	font-size: 4vh;
	margin: 0;
	padding: 0;
}
div{
	margin: 0;
	padding: 0;
}